@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&family=Open+Sans:wght@300;400;500;600;700;800&family=Phudu:wght@300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.blueCol{
    /* background: #0041F5; */
    background: #3803FF;
}

.blueCol:hover{
    background: #1F00B3;
}
.blueColTxt:hover{
    color: #0041F5;
}
.blueColTxt2{
    color: #0041F5;
}

.LinkLog:hover{
    background: #1F00B3;
}


.blueColBorder{
    
    border-color: #3803FF;
}


*{
    font-family: 'Open Sans', sans-serif ;
}

.underL{
    text-decoration-color: #EAB308;
}
.underPur{
    text-decoration-color: #3803FF;
}

.titleT{
    font-family: 'IBM Plex Sans', sans-serif;

}


.bold-placeholder::placeholder {
    font-weight:500; /* Make the placeholder text bold */
    color: gray; /* You can also adjust the color if needed */
  }


.zInd{
    z-index: 1000;
}


.blueCol2{
    /* background: #0041F5; */
    background: #3803FF;
}


/* font-family: 'Open Sans', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Ubuntu', sans-serif; */